# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
backup/rnd_t.h
backup/README.md
backup/parameters.h
backup/outputGenerator.h
backup/main.cpp
backup/LICENSE
backup/Individual.h
backup/calculateAverage.h
backup/
data/*/*/parameters.txt
data/*/*/run
data/outputFacetWrap_min0_01_sd0_01.csv
data/outputLE_min0_01_sd_0_01.csv
data/plot_finalmeansd.pdf
data/extr_mort_varied/
data/mean_sd_extMort_varied/
data/mean_sd_extmort_varied_LEoutput/
data/mean_sd_varied/

data/extr_mort_report/
data/mean_equal_sd_varied_20_reps/ 
data/mean_sd_bigger_varied_20_reps/
data/mean_sd_varied_20_reps/ 
data/sd_div_2/
data/sd_div_5/